header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

header li {
  display: inline-block;
  padding: 8px 16px;
}

header a {
  color: white;
  text-decoration: none;
}

header ul {
  padding: 0px;
  list-style: none;
}
