#skills-list {
  list-style: none;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

#skills-list li {
  display: inline-block;
  margin: 0px 10px;
  padding: 8px 16px;
  border: 3px solid;
  border-radius: 15px;
}
